html {
  scroll-behavior: smooth !important;
}

.container {
  width: 100%;
  padding: 3rem 0 6rem;
}
.container h1 {
  font-size: 3rem;
  margin-top: 0;
}
.container h2 {
  line-height: 2.25rem;
}
.container h3 {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}
.container h4 {
  margin: 0 0 0.2rem 0;
}
.container h5 {
  font-size: 1.25rem;
  margin: 0;
}
.container p {
  margin: 0;
}
.container img {
  height: 100%;
}
.container ul {
  margin: 0 0 1.5rem 0;
  padding: 0ch;
}
.container li {
  margin: 0;
  padding: 0 0 0.5rem 0.5rem;
  list-style: none;
}
.container a {
  color: #555;
}
.container b {
  font-weight: 600;
}
.container .underline {
  border-bottom: 1px solid #bbbbbb;
  width: fit-content;
}
.container .contents {
  border-bottom: 1px solid #bbbbbb;
  padding: 50px 0;
}
.container .flex {
  display: flex;
  align-items: flex-start;
}
.container .hidden {
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
}
.container .text_highlight {
  color: #ffbb33;
}
.container .text_under_highlight {
  border-bottom: 1px solid #ffbb33;
  width: fit-content;
}
.container .text_margin {
  margin-bottom: 2rem;
}
.container .team_title {
  font-size: 1.5rem;
  color: #999;
  width: fit-content;
  margin: 2rem 0 1rem;
}
.container .team_desc {
  margin-bottom: 2rem;
}
.container .project_title {
  margin-right: 32px;
  width: 180px;
}
.container .project_content {
  flex: 1;
}
.container .list_title {
  font-weight: 600;
  margin: 0.5rem 0;
}
.container .project li {
  list-style: square;
  margin-left: 1rem;
}
.container .skills {
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin: 0;
  max-height: 32px;
}
.container .skills li {
  padding: 0;
}
.container .period {
  font-size: 14px;
}