<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main> 
      
<div class="container">
  <h1>안녕하세요! <br />백엔드 개발자 박재현입니다.</h1>
  <h2>
    <span class="text_highlight">한땀한땀,</span><br />직면한 문제를 풀어나가는 것과,<br />
    새로운 기술을 습득하며 성장하는것에 재미를 느낍니다!
  </h2>
  <div class="contents" >
    <h3>Personal Info</h3>
    <div>
      <ul>
        <h4>Contact</h4>
        <li>Email.  <a href="mailto:pjhyun7821@gmail.com">pjhyun7821@gmail.com</a</li>
        <li>Phone. 010-3993-7821</li>
      </ul>
      <ul>
        <h4>Channel</h4>
        <li>
          Github.
          <a href="https://github.com/JayPark7821" target="_blank"
            >https://github.com/JayPark7821</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="contents">
    <h3 >Introduce</h3>
      <ul class="project">    
        <li>안녕하세요! 백엔드 개발자 박재현입니다!</li>
        <li>저는 언제나, 성장하고 있는 개발자가 되고 싶습니다.</li>
        <li>요즘은 Test, Clean Code와 객체 지향적 설계에 푹 빠져있습니다!</li>
        <li>그리고 꾸준함의 가치를 알기에 1일 1커밋 운동을 하고 있습니다.</li>
      </ul>
  </div>
  <div class="contents">
    <h3 class="">Skills</h3>
    <div>
      <ul class="skills flex">
        <p class="list_title">Backend :</p>
        <li>Java,</li>
        <li>Spring,</li>
        <li>Spring Data JPA,</li>
        <li>QueryDsl,</li>
        <li>MySQL,</li>
        <li>MariaDB</li>
      </ul>
      <ul class="skills flex">
        <p class="list_title">DevOps :</p>
        <li>AWS EC2,</li>
        <li>S3,</li>
        <li>Azure,</li>
        <li>Jenkins,</li>
        <li>Docker,</li>
      </ul>
      <ul class="skills flex">
        <p class="list_title"">Etc :</p>
        <li>JavaScript</li>
        <li>Vue.js</li>
        <li>Python</li>
      </ul>
    </div>
  </div>

  <div class="contents">
    <h3 class="">Experience</h3>
    <p>프로젝트의 전체 기술 스택이 아닌 본인 사용 기술 스택만 작성하였습니다.</p>
    

    <h4 class="team_title" id="side_project">오브제</h4>
    <p class="team_desc">사이드 프로젝트 팀</p>
    <div class="content flex" >
      <div class="project_title">
        <h5 class="underline"><a>Flag</a></h5>
        <p class="period">2022.09 ~ 현재</p>
      </div>
      <div class="project_content">
        <ul class="project">
          <p class="list_title">Description</p>
          <li>Flag App. 목표 & 일정 관리 OKR 서비스 앱</li>
        </ul>
        <ul class="project">
          <p class="list_title">Works</p>
          <li>Java, Spring을 이용한 프로젝트 백엔트 전체 설계/개발/배포</li>
          <li>Jenkins을 이용한 CI/CD 구성</li>
          <li>Docker와 Nginx를 사용해 배포시에도 무중단 서비스 제공</li>
          <li>Database 접근 기술로 JPA와 QueryDsl 사용</li>
        </ul>
        <ul class="project">
          <p class="list_title">Skills</p>
          <li>Java, Spring, Jpa, Mysql, Aws, jenkins, Docker, Nginx</li>
        </ul>
      </div>
    </div>
 
  </div>
  <div class="contents" style="border: none;">
    <h3 class="">Education</h3>
    <div>
      <ul>
        <li>강릉원주대학교 대학원 의료기기 융복합 학과 <br/><span class="period">2016.09 ~ 2018.09</span></li>
      </ul>
    </div>
  </div>
</div>


    </main>
  </body>
  <script>
    $(document).ready(function () {
      $(".slider").bxSlider();
    });
  </script>
</html>
