<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<main>

    <div class="container">
        <h1>안녕하세요! <br/>백엔드 개발자 박재현입니다.</h1>
        <h2>
            <span class="text_highlight">한땀 한땀,</span><br/>직면한 문제를 풀어나가는 것과,<br/>
            새로운 기술을 습득하며 성장하는 재미를 느낍니다!
        </h2>
        <div class="contents">
            <h3>Personal Info</h3>
            <div>
                <ul>
                    <h4>Contact</h4>
                    <li>Email. <a href="mailto:pjhyun7821@gmail.com">pjhyun7821@gmail.com</a</li>
                    <li>Phone. 010-3993-7821</li>
                </ul>
                <ul>
                    <h4>Channel</h4>
                    <li>
                        Github.
                        <a href="https://github.com/JayPark7821" target="_blank"
                        >https://github.com/JayPark7821</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contents">
            <h3>Introduce</h3>
            <ul class="project">
                <li>안녕하세요! 백엔드 개발자 박재현입니다.</li>
                <li>꾸준히 개발 능력을 키우기 위해 학습하고 성장합니다.</li>
                <li>개발 능력도 중요하지만, 문제해결을 중심으로 고민하고 또 고민합니다.</li>
                <li>요즘은 테스트 코드, 클린 코드, 객체지향설계에 푹 빠져있습니다.</li>
                <li>서비스를 개발할 때, 사용자 중심으로 생각하고 고민합니다.</li>
                <li>꾸준함의 가치를 알기에 1일 1커밋을 하고 있고(Since 2022), <br/> 이제는 개발이 취미가 되어버렸습니다!</li>

            </ul>
        </div>
        <div class="contents">
            <h3 class="">Skills</h3>
            <div>
                <ul class="skills flex">
                    <p class="list_title">메인 프로그래밍 언어 :</p>
                    <li>Java</li>
                </ul>
                <ul class="skills flex">
                    <p class="list_title">서브 프로그래밍 언어 :</p>
                    <li>Kotlin,</li>
                    <li>Python,</li>
                    <li>JavaScript</li>
                </ul>
                <ul class="skills flex">
                    <p class="list_title">프레임워크 & 라이브러리 :</p>
                    <li>Spring MVC,</li>
                    <li>Spring Boot,</li>
                    <li>Spring Data JPA,</li>
                    <li>QueryDsl</li>
                </ul>
                <ul class="skills flex">
                    <p class="list_title">데이터베이스 :</p>
                    <li>MySQL,</li>
                    <li>Redis</li>
                </ul>
                <ul class="skills flex">
                    <p class="list_title">클라우드 :</p>
                    <li>AWS,</li>
                    <li>MS Azure</li>
                </ul>
                <ul class="skills flex">
                    <p class="list_title">배포도구 :</p>
                    <li>Jenkins</li>
                    <li>Github-Actions</li>
                </ul> 
                <ul class="skills flex">
                    <p class="list_title">외국어 :</p>
                    <li>영어 ( 의사소통 가능 )</li>
                </ul>
            </div>
        </div>

        <div class="contents">
            <h3 class="">Experience</h3>
            <p>프로젝트의 전체 기술 스택이 아닌 본인 사용 기술 스택만 작성하였습니다.</p>


            <h4 class="team_title">HealthConnect ( 2019.08 ~ 2021.05, 2022.04 ~ 현재 )</h4>
            <p class="team_desc">디지털헬스케어기업으로 스마트 헬스케어 플랫폼을 서비스하고, 스마트의료플랫폼 개발 및 서비스 제공</p>
            <div class="content flex">
                <div class="project_title">
                    <h5 class="underline"><a target="_blank">BiocoreDx</a></h5>
                    <p class="period">2022.04 ~ 현재</p>
                </div>
                <div class="project_content">
                    <ul class="project">
                        <p class="list_title">[ Project ]</p>
                        <li>Biocore 임상시험 관리 시스템 백엔드 개발</li>
                    </ul>
                    <ul class="project">
                        <p class="list_title">[ Works ]</p>
                        <li>모니터링 시스템 & 알림 도입 </li>
                        <li>비동기 파일 생성 큐 시스템 개발</li>
                        <li>Jenkins활용 CI/CD 환경 구성</li>
                        <li>SSR 환경에서 Runtime에 사용자가 직접 변경 & 적용 가능한 다국어 기능 개발</li>
                        <li>시스템 성능 개선을 위한 SQL 쿼리 튜닝 & 비즈니스 프로세스 개선</li>
                        <li>DB stored procedure로 처리하는 비즈니스 로직 서버로 migration 작업</li>
                    </ul>
                    <ul class="project">
                        <p class="list_title">[ Contribution ]</p>
                        <li>다국어 지원 기능을 개발하여 특정 <span class="text_under_highlight">사용자( 관리자 )가 직접 사이트에서 다국어를 수정 & 적용할 수 있도록 </span> 개선</li>
                        <li>기존 Sync/Blocking 방식의 파일( 검사 결과 파일 ) 생성 프로세스를 <span class="text_under_highlight"> Async/non-blocking으로 처리할 수 있는 큐 시스템 개발</span> 로 고객 경험 개선</li>
                        <li><span class="text_under_highlight">개발하면서 불필요하다 판단된 비즈니스 프로세스를 협의를 통해 개선</span>, 불필요한 로직을 제거 함으로 성능 개선</li>
                        <li>검사 결과 생성 쿼리( 4,569건 데이터 조회 기준 ) <span class="text_under_highlight">기존 4.2초 -> 0.56초 로 개선 </span></li>
                    </ul>
                    <ul class="project">
                        <p class="list_title">[ Skills ]</p>
                        <li>
                            Java, Spring, MyBatis, MariaDB, JavaScript, Jquery, Jenkins, Azure
                        </li>
                    </ul>
                </div>
            </div>

            <div class="content flex">
                <div class="project_title">
                    <h5 class="underline"><a target="_blank">G-Hub</a></h5>
                    <p class="period">2020.01 ~ 2021.05</p>
                </div>
                <div class="project_content">
                    <ul class="project">
                        <p class="list_title">[ Project ]</p>
                        <li>녹십자 임상시험 관리 시스템 백엔드 & 프론트엔드 개발</li>
                    </ul>
                    <ul class="project">
                        <p class="list_title">[ Works ]</p>
                        <li>임상시험 관리 프로세스 도출 & 설계</li>
                        <li>임상시험 프로젝트 진행을 위해 필요한 기본 데이터 세팅 화면 & 서버 개발</li>
                        <li>검사 접수, 검사 결과 화면 & 서버 개발</li>
                    </ul>

                    <ul class="project">
                        <p class="list_title">[ Skills ]</p>
                        <li>
                            Java, Spring, MyBatis, Oracle, JavaScript, Jquery, Ezgen(Reporting tool)
                        </li>
                    </ul>
                </div>
            </div>

            <div class="content flex">
                <div class="project_title">
                    <h5 class="underline"><a target="_blank">ETRI CyberDX</a></h5>
                    <p class="period">2019.05 ~ 2019.12</p>
                </div>
                <div class="project_content">
                    <ul class="project">
                        <p class="list_title">[ Project ]</p>
                        <li>ERTI의 예측모델인 CyberDX를 활용한 질환 예측 Admin 페이지 개발</li>
                    </ul>
                    <ul class="project">
                        <p class="list_title">[ Works ]</p>
                        <li>ERTI의 CyberDx 학습에 사용할 건강검진 데이터 가공 자동화</li>
                        <li>질병 발병 확률 예측 결과를 조회해 볼 수 있는 화면 개발 ( vue.js )</li>
                        <li>예측 결과 페이지 pdf 출력 기능 개발</li>
                    </ul>

                    <ul class="project">
                        <p class="list_title">[ Skills ]</p>
                        <li>
                            Python, JavaScript, Vue.js
                        </li>
                    </ul>
                </div>
            </div>

            <h4 class="team_title">Mebixon ( 2018.09 ~ 2019.05 )</h4>
            <p class="team_desc">생명공학 ICT 기술 전문성과 식품분석 기술 전문성을 융합하여, BIO ICT Solutions, Food Safety Testing Service &
                Verification, 국책연구과제 수행 등 생명공학 전문 분야에
                연구개발 서비스 제공 및 의료 IT솔루션 서비스를 제공. </p>

            <div class="content flex">
                <div class="project_title">
                    <h5 class="underline"><a target="_blank">WISH</a></h5>
                    <p class="period">2018.09 ~ 2019.05</p>
                </div>
                <div class="project_content">
                    <ul class="project">
                        <p class="list_title">[ Project ]</p>
                        <li>서울 의과학 연구소 임상시험 관리 시스템 백엔드 & 프론트엔드 개발</li>
                    </ul>
                    <ul class="project">
                        <p class="list_title">[ Works ]</p>
                        <li>임상시험 관리 마스터 데이터 관리 기능 & 화면 개발</li>
                        <li>외부 사용자 회원 가입 & 개인정보 수정 프로세스 설계 & 개발</li>
                        <li>Oz Report 시스템 연동 & 검사 결과 & 임상시험 정보 출력물 개발</li>
                    </ul>
                    <ul class="project">
                        <p class="list_title">[ Skills ]</p>
                        <li>
                            Java, Spring, MyBatis, Oracle, JavaScript, Oz Report, Nexacro
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contents">
            <h3 class="">Side Projects</h3>
            <h4 class="team_title" id="side_project_flag">Open Source</h4>
            <div class="content flex">
                <div class="project_title">
                    <h5 class="underline"><a>java-boiler-craft</a></h5>
                    <p class="period">2023.10</p>
                </div>
                <div class="project_content">
                    <ul class="project">
                        <p class="list_title">[ Project ]</p>
                        <li>Spring Rest Docs 작성시 필요한 보일러 플레이트 코드 및 생성자의 기본 코드를 자동으로 생성해 주는 intellij 플러그인</li>
                            <br/> -api문서 생성을 위해 필요한 많은 양의 코드를 자동으로 생성 개발자는 필요한 문서만 작성하도록 함
                            <br/> -all arg constructor, builder 등의 생성자 자동 생성 기능 
                        <li>총 다운로드 100++</li>
                        
                        <li>Github.<a href="https://github.com/Boiler-Craft/java-boiler-craft" target="_blank">
                            https://github.com/Boiler-Craft/java-boiler-craft</a></li> 
                        <li>Jet brains Marketplace.<a class="underline" href="https://plugins.jetbrains.com/plugin/23196-java-boiler-craft" target="_blank">
                            바로가기</a></li>

                    </ul>
                    <ul class="project">
                        <p class="list_title">[ Skills ]</p>
                        <li>Kotlin, intellij sdk</li>
                    </ul>
                </div>
            </div>

            <h4 class="team_title" id="side_project_bbexchange">비법 거래소</h4>
            <p class="team_desc">사이드 프로젝트 팀</p>
            <div class="content flex">
                <div class="project_title">
                    <h5 class="underline"><a>비법 거래소</a></h5>
                    <p class="period">2023.09 ~ 현재</p>
                </div>
                <div class="project_content">
                    <ul class="project">
                        <p class="list_title">[ Project ]</p>
                        <li>다양한 카테고리의 지식과 경험들을 사고파는 플랫폼 서비스</li>
                        <li>베타 출시 <a class="underline"
                                       href="https://bibeop.com/"
                                       target="_blank">
                            Web.</a></li>
                        <li>App Store.<a class="underline"
                            href="https://apps.apple.com/kr/app/%EB%B9%84%EB%B2%95%EA%B1%B0%EB%9E%98%EC%86%8C-%EB%82%B4-%EA%BF%80%ED%8C%81%EA%B3%BC-%EC%9D%B4%EC%95%BC%EA%B8%B0%EB%A1%9C-%EB%A7%8C%EB%93%9C%EB%8A%94-%EB%B6%80%EC%88%98%EC%9E%85/id6446600331"
                            target="_blank">
                        바로가기</a></li>
                    </ul>
                    <ul class="project">
                        <p class="list_title">[ Works ]</p>
                        <li>게시글 조회 & 구매 & 검색 & 이벤트 서비스의 전반적인 기능 개발</li>
                        <li>DB와 Application event를 활용해 event queue 구현 서비스 로직을 비동기로 실행할 수 있는 환경을 만들어 고객 경험 개선</li>
                        <li>Text embedding 활용 검색 기능 개발 & 연관 컨텐츠 추천 시스템 개발</li>
                    </ul>
                    <ul class="project">
                        <p class="list_title">[ Skills ]</p>
                        <li>Java, Spring, Jpa, QueryDsl, MySQL, Aws, Github Actions, ElasticSearch</li>
                    </ul>
                </div>
            </div>

            <h4 class="team_title" id="side_project_daedong">대동빵지도</h4>
            <p class="team_desc">사이드 프로젝트 팀</p>
            <div class="content flex">
                <div class="project_title">
                    <h5 class="underline"><a>대동빵지도</a></h5>
                    <p class="period">2023.05 ~ 현재</p>
                </div>
                <div class="project_content">
                    <ul class="project">
                        <p class="list_title">[ Project ]</p>
                        <li>위치 기반 빵집 검색 추천 서비스 앱</li>
                        <li>App Store & Play Store에 출시 & 운영중</li>
                        <li>App Store.<a class="underline"
                                href="https://apps.apple.com/kr/app/%EB%8C%80%EB%8F%99%EB%B9%B5%EC%A7%80%EB%8F%84/id6445900733"
                                target="_blank">
                            바로가기</a></li>
                            <li>Play Store.<a class="underline"
                              href="https://play.google.com/store/apps/details?id=com.daedongbread&hl=ko"
                              target="_blank">
                          바로가기</a></li>

                    </ul>
                    <ul class="project">
                        <p class="list_title">[ Works ]</p>
                        <li>어플리케이션의 메인 페이지에서 호출하는 API의 CQRS 패턴 적용으로 조회 성능 개선</li>
                        <li>커뮤니티, 빵집 랭킹 계산(Daily), 푸쉬 알림 기능 개발</li>
                        <li>모니터링 & 알림 도입 ( CloudWatch & Lambda )</li>
                    </ul>
                    <ul class="project">
                        <p class="list_title">[ Skills ]</p>
                        <li>Java, Spring, Jpa, QueryDsl, MySQL, Aws, Github Actions</li>
                    </ul>
                </div>
            </div>

            <h4 class="team_title" id="side_project_flag">오브제</h4>
            <p class="team_desc">사이드 프로젝트 팀</p>
            <div class="content flex">
                <div class="project_title">
                    <h5 class="underline"><a>Flag</a></h5>
                    <p class="period">2022.09 ~ 2023.05</p>
                </div>
                <div class="project_content">
                    <ul class="project">
                        <p class="list_title">[ Project ]</p>
                        <li>Flag App. 목표 & 일정 관리 OKR 서비스 앱</li>
                        <li>개인적으로 학습했지만 회사 업무에 사용하기 어려웠던 기술들을 활용</li>
                        <li>회사 외부의 여러 사람들과 협업의 경험을 쌓고 싶어 참여
                            <br/> - Back-end 1명, Front-end 1명, 기획자 1명, 디자이너 1명으로 구성
                        </li>
                        <li>Github.<a href="https://github.com/JayPark7821/okr-project-v3" target="_blank">
                            https://github.com/JayPark7821/okr-project-v3</a></li>
                        <li>App Store에 정식 출시 ( 현재 운영 종료 )</li>
                        <li>App Store.<a class="underline" href="https://apps.apple.com/kr/app/flag/id6443440561" target="_blank">
                            바로가기</a></li>

                    </ul>
                    <ul class="project">
                        <p class="list_title">[ Works ]</p>
                        <li>프로젝트 백엔드 전체 설계/개발/배포</li>
                        <li>Jenkins을 이용한 CI/CD 구성</li>
                        <li>Docker와 Nginx를 활용 무중단 서비스 제공</li>
                        <li>테스트 커버리지 80% 이상</li>

                    </ul>
                    <ul class="project">
                        <p class="list_title">[ Skills ]</p>
                        <li>Java, Spring, Jpa, QueryDsl, MariaDB, Aws, jenkins, Docker, Nginx</li>
                    </ul>
                </div>
            </div>
           
        </div>
        <div class="contents">
            <h3 class="">Education</h3>
            <div class="content flex">
                <div class="project_title">
                    <h5 class="underline"><a>FastCampus</a></h5>
                </div>
                <div class="project_content">
                    <p class="list_title">INNER CIRCLE : Java/Spring 기반 리팩토링 Co-Learning for 클린코드 by 백명석</p>
                    <p class="period">2022.12 ~ 2023.02</p>
                    <ul class="project">
                        <li>단위테스트와 TDD, 리팩토링으로 클린코드 작성하는 내용을 깊게 배워보고 연습해 볼수 있는 기회였습니다.</li>
                        <li>이전에는 기능의 동작에 집중을 했다면 좀더 OOP에 가깝도록 역할과 책임을 고민해보고 클래스와 메서드 분리를 해보며 객체지향에 대한 견문을 넓혔습니다.</li>
                    </ul>
                </div>
            </div>
            <div class="content flex">
                <div class="project_title">
                    <h5 class="underline"><a>Sparta Coding Club</a></h5>
                </div>
                <div class="project_content">
                    <p class="list_title">항해+ 2기 </p>
                    <p class="period">2023.09 ~ 2023.11</p>
                    <ul class="project">
                        <li>TDD를 통한 서버 개발부터 CI-CD, 모니터링 시스템 구축, 장애 대응까지 프로젝트를 진행하며 필요한 전반적인 스킬들을 좋은 인사이트를 얻고 실제 적용해 볼 수 있는 좋은 기회였습니다. </li>
                    </ul>
                </div>
            </div>
            <div class="content flex">
                <div class="project_title">
                    <h5 class="underline"><a>Inflearn</a></h5>
                </div>
                <div class="project_content">
                    <ul class="project">
                        <li> 총 완료한 수업수 1400+</li>
                        <li> 총 완료한 강좌수 20+</li>
                        <li>Spring Boot, JPA 등 업무에 필요한 기술들 뿐만 아니라 <br/> 좋은 개발자로 꾸준히 성장하고 Clean Code 생산을 위해 디자인 패턴, 리팩토링,
                            TDD등 계속해서 학습중
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<script>
    $(document).ready(function () {
        $(".slider").bxSlider();
    });
</script>
</html>
